 <h4>Thank you for your support!</h4>
  </header>
    <table>
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Quantity</th>
          <th>Item Price</th>
          <th>Total Paid</th>
        </tr>
      </thead>
      <tbody>
      <%@order.line_items.each do |item|%>
      <tr>
        <td>
          <%=item.product_id%>
        </td>
        <td>
          <%=item.quantity%>
        </td>
        <td>
          <%=humanized_money_with_symbol item.item_price_cents / 100%>
        </td>
        <td>
          <%=humanized_money_with_symbol item.total_price_cents / 100%>
        </td>
        </tr>
        <%end%>
      </tbody>
    </table>
    <hr>
            TOTAL:
          <%= humanized_money_with_symbol @order.total_cents / 100%>
</section>
