<h1>Admin Dashboard</h1>
<table id="example" class="table table-striped table-bordered" style="width:80%">
        <thead>
            <tr>
                <th>Number of Products in the Database</th>
                <th>Number of Categories in the Database</th>
            </tr>
            <tbody>
              <td><%=@products%></td>
              <td><%=@categories%></td>
            </tbody>
        </thead>
</table>
<%= link_to 'Categories',  [:admin, :categories], class: "btn btn-info" %>
<%= link_to 'Orders',  [:admin, :orders], class: "btn btn-info" %>
<%= link_to 'Products',  [:admin, :products], class: "btn btn-info" %>
<%= link_to 'Sales',  [:admin, :sales], class: "btn btn-info" %>