<section class="orders-show">
<%#raise @items.inspect%>

  <header class="page-header">
    <h1>Admin &raquo; All Orders &raquo; Order #<%=@items[0]['order_id']%></h1>
  </header>
 <h4><%=@order.email%></h4>
  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Item Price</th>
          <th>Discount</th>
          <th>Total Paid</th>
        </tr>
      </thead>
      <tbody>
      <%@items.each do |item|%>
      <tr>
      <%#raise @items.inspect%>
        <td>
          <%=item.product_id%>
        </td>
         <td>
          <%=item.name%>
        </td>
        <td>
          <%=item.quantity%>
        </td>
        <td>
          <%=humanized_money_with_symbol item.item_price_cents / 100%>
        </td>
         <td>
          <%=humanized_money_with_symbol discount?((item.item_price_cents * item.quantity), item.total_price_cents) / 100%>
        </td>
        <td>
          <%=humanized_money_with_symbol item.total_price_cents / 100%>
        </td>
        </tr>
        <%end%>
      </tbody>
      <tfoot>
        <th colspan="4">
            TOTAL:
          </th>
          <th>
          <%= humanized_money_with_symbol discount?(@items.map {|item| item.item_price_cents * item.quantity }, @order.total_cents) / 100%>
          </th>
          <th>
          <%= humanized_money_with_symbol @order.total_cents / 100%>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

</section>
